@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TELEDGH</h1>
    <p class="lead">Bienvenido al sistema Telefonico TELEDGH</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sistema telefonico de mensajeria integrado</h2>
        <p>
            En esta plataforma podras encontrar un sistema mejorado de chats en vivo, con costes economicos y todo al alcance de unos clicks, gracias por elegir al Sistema telefonico TELEDGH
        </p>
    
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
       
    </div>
</div>